body {
  font-family: "Montserrat";
}

#title {
  color: white;
  background-color: #ff4c68;
}
.container-fluid {
  padding: 3% 15% 7%;
}
h1 {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Navigation BAr */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat-Light";
  font-size: 1.3rem;
}
.downoad-button {
  margin: 5% 3% 5% 0;
}

/* Title image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position:absolute;
  right: 30%;

}

/* Features Section */

#features {
  padding: 7% 15%;
  background-color: #fff;
  /* z-index: 1; */
  position: relative;
}
.feature-box {
  text-align: center;
  padding: 4.2%;

}
h3 {
  font-family: "Montserrat-Black";
  font-weight: 1.5rem;
}
.feature-icon {
  color: #cf8172;
  margin-bottom: 1rem;
}
.feature-icon:hover {
  color: #ff4c68;
}
p {
  color: #8f8f8f;
}

/* Testimonial Section */

#testimonials {

  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}
h2 {
  font-family: "Montserrat-Black";
  font-size: 2.8rem;
  line-height: 1.5;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item
{
  padding: 7% 15%;
}


#press {
  padding-bottom: 3%;
  text-align: center;
  background-color: #ff4c68;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 45px;
}

/* Pricing Section */

#pricing
{
  padding: 100px;
  text-align: center;
}

.pricing-column
{
  padding: 3% 2%;
}
@media (max-width:1028px) {
  #title{
    text-align: center;
  }
  .title-image {
    position:static;
    transform: rotate(0);
  }
}

/* call to action section */

#cta{
  padding: 7% 15%;
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}
.cta-heading{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer Section */
#footer
{
  height: 450px;
  padding: 7% 15%;
  text-align: center;
  background-color: #fff;
  margin-bottom: 0%;
}
.social-icon
{
  margin: 20px 10px;
}
